.reviews {
    padding-bottom: 49px;
    .title {
        margin-bottom: 78px;    
    }
    &__wrapper:nth-child(3) {
        margin-top: 30px;
    }
    &__wrapper:nth-child(4) {
        margin-top: 30px;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        img {
            max-width: 169px;
            max-height: 169px;
            margin-top: 10px;
        }
        .reviews__info {
            max-width: 680px;
            margin-left: 61px;
            &-title {
                color: #0D0D0D;
                font-family: 'Museo Sans Cyrl 700';
                font-size: 18px;
            }
            span {
                color: #646464;
                font-family: 'Museo Sans Cyrl 500';
                font-size: 14px;
            }
            &-descr {
                margin-top: 10px;
                color: #0D0D0D;
                font-family: 'Museo Sans Cyrl 300';
                font-size: 16px;
                line-height: 24px; /* 150% */
            }
        }
    }
}